.BbsTemplate {
  background:black;
  font-size:15px;
  color:white;
  line-height:18px;
  padding:4px;
}
.BbsTemplate .BbsHeader {
  background:blue;
  color:white;
  width:100%;
  display:inline-block;
}
.BbsHeader BbsT {
  background:white;
  color:blue;
}
.BbsHeader BbsR {float:right;}

.BbsTemplate .colon {color:gray;}

.BbsTemplate .from {color:green;}

.BbsTemplate a {
  border-bottom:1px solid red;
  color:inherit;
}

.BbsTemplate a:hover {text-decoration:none;}

cmt {color:yellow;}

cmt cmtc {color:green;}

cmt cmtr {float:right; color:white;}

.richcontent {
  text-align: center;
  margin: 1em;
}

.richcontent img {
  width:80%;
}

.LetterBG {
  font-size:15px;
  line-height:150%;
  width:100%;
  background:url('https://lh3.googleusercontent.com/-wHMQeOFXRcM/VALOfkqGHZI/AAAAAAAA1fc/W5FehWJeSBo/s600/letter_bg.jpg') repeat;
  background-color:white;
  padding-left:5px;
  broder-collapse:collapse;
}
